<section class="w-75 mx-auto bg-main-light p-4 rounded my-3">
  <h1>login Now</h1>
  <form [formGroup]="loginform" (ngSubmit)="handleForm()">

<div>
  <label for="email">email :</label>
   <input type="text" formControlName ="email" class=" form-control" #inputemail>
</div>
<div class="alert alert-danger" *ngIf="loginform.get('email')?.errors &&( loginform.get('email')?.touched||inputemail.value.length>0)">
  <p *ngIf="loginform.get('email')?.getError('required')"> email is Required</p>
  <p *ngIf="loginform.get('email')?.getError('email')">Email is not required </p>
  <!-- <p *ngIf="loginform.get('email')?.getError('maxlength')"> The max lenght is 20 words</p> -->
</div>
<div>
  <label for="password">password :</label>
   <input type="password" formControlName ="password" class=" form-control" #inputpass>
</div>
<div class="alert alert-danger" *ngIf="loginform.get('password')?.errors &&( loginform.get('password')?.touched||inputpass.value.length>0)">
  <p *ngIf="loginform.get('password')?.getError('required')"> password is Required</p>
  <p *ngIf="loginform.get('password')?.getError('pattern')"> The password must starts with capital letter then small letters then number from 6 to 20   </p>
  <!-- <p *ngIf="loginform.get('password')?.getError('maxlength')"> The max lenght is 20 words</p> -->
</div>



 <button [disabled]="loginform.invalid" class="btn-main ms-auto d-block mt-3">
  <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
  Login</button>
  <p  *ngIf="massageerror"  class="alert alert-danger">{{massageerror}}</p>
  </form>
</section>
